# First running this command in shell to make the network: docker network create ai-net && docker network create --internal shared-ai-backend-net
HOST_IP=changeme

LITELLM_PROXY_CONTAINER_NAME=litellm-proxy
OMNIROUTE_API_KEY=changeme
PRESIDIO_ANALYZER_API_BASE=http://presidio-analyzer:3000
PRESIDIO_ANONYMIZER_API_BASE=http://presidio-anonymizer:3000
