# First running this command in shell to make the network: docker network create npm-net && docker network create cloudflared-net
CLOUDFLARED_CONTAINER_NAME=cloudflared
TUNNEL_TOKEN=changeme
COMMAND=tunnel --no-autoupdate run
