# First running this command in shell to make the network: docker network create ai-net
HOST_IP=changeme

HERMES_CONTAINER_NAME=hermes-agent
OPENAI_BASE_URL=http://litellm-proxy:4000/v1
OPENAI_API_KEY=changeme
HERMES_DASHBOARD=true
HERMES_DASHBOARD_BASIC_AUTH_USERNAME=changeme
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD=changeme
SEARXNG_BASE_URL=http://searxng:8080
