# First running this command in shell to make the network: docker network create ai-net && docker network create --internal shared-ai-backend-net
# Generate secrets using: openssl rand -hex 32
HOST_IP=changeme

OMNIROUTE_CONTAINER_NAME=omniroute
NODE_ENV=production
PORT=20128
DATA_DIR=/app/data
JWT_SECRET=changeme-secret
API_KEY_SECRET=changeme-secret
STORAGE_ENCRYPTION_KEY=changeme-secret
STORAGE_ENCRYPTION_KEY_VERSION=v1
MACHINE_ID_SALT=changeme-secret
REDIS_URL=redis://redis:6379
SEARXNG_BASE_URL=http://searxng:8080

REDIS_CONTAINER_NAME=omniroute-redis
