# First running this command in shell to make the network: docker network create --internal shared-ai-backend-net
HOST_IP=changeme

PRESIDIO_ANALYZER_CONTAINER_NAME=presidio-analyzer
ANALYZER_CONF_FILE=/app/config/secret_recognizers.yaml

PRESIDIO_ANONYMIZER_CONTAINER_NAME=presidio-anonymizer
