# First running this command in shell to make the network: docker network create ai-net
HOST_IP=changeme

SEARXNG_CONTAINER_NAME=searxng
SEARXNG_BASE_URL=http://searxng:8080/
SEARXNG_SECRET_KEY=changeme
